/* Set font family and size */
body {
    font-family: consolas, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    background-color: #1e1e1e;
}

.titles {
    background: #404040;
    margin: 10px;
    border-radius: 5px;
    border-color: white;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}

.content {
    background: #606060;
    margin: 10px;
    border-radius: 5px;
    border-color: white;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 8px;
}

/* Set heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #d4d4d4;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
    color: #178aff;
}

h6 {
    font-size: 1em;
    font-weight: 400;
}

/* Set paragraph styles */
p {
    margin-top: 0;
    margin-bottom: 1em;
    color: #d4d4d4;
}

/* Set code styles */
pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

pre code {
    display: block;
}

code {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2em 0.4em;
}

/* Set blockquote styles */
blockquote {
    border-left: 4px solid #dfe2e5;
    color: #6a737d;
    margin: 0;
    padding: 0 15px;
}

/* Set link styles */
a {
    background-color: transparent;
    color: #0366d6;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
}

a:hover {
    background-color: #0366d6;
    color: #fff;
}

/* Set list styles */
ul,
ol {
    margin-top: 0;
    margin-bottom: 1em;
    color: #d4d4d4;
}

li>ul,
li>ol {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 0.25em;
}

li p {
    margin: 0;
}

/* Set table styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 16px;
    width: 100%;
}

th {
    font-weight: 600;
}

th,
td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
    text-align: left;
}

tr:nth-child(2n) {
    background-color: #f6f8fa;
}