* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

body {
    font-family: Cantarell, "Segoe UI";
    background-color: #0d1117;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header and footer */
.header, .footer {
    font-family: monospace;
    font-size: 26px;
    display: flex;
    justify-content: center;
    padding: 12px 0px;
}

.header h1, .footer h2 {
    font-weight: normal;
}

.footer h2 {
    font-size: 16px;
}

/* Main section */
.content {
    background: #222831;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-title, .food-options {
    width: 100%;
    font-size: 24px;
}

button {
    background-color: #393e46;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    font-size: 85px;
}

/* Buttons for recipes */
.food-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 105px;
    padding: 72px 0px;
    margin-top: -36px;
}

.food-label {
    font-size: 18px;
}

/* Image resizing */
img {
    height: 300px;
    width: 450px;
    border-radius: 50%;
}

/* List styles */
ul, ol, li {
    margin-bottom: 1em;
    color: #F2F2F2;
    padding-left: 6px;
}

/* General text */
p, h1, h2 {
    color: #F2F2F2;
    justify-content: center;
    text-align: center;
    padding: 24px 0px;
}

a {
    color: #0366d6;
    text-decoration: none;
}
